---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import logo from "../assets/images/logo.png";

const allPosts = await Astro.glob("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);

const sortedPosts = nonDraftPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate);
  const bDate = new Date(b.frontmatter.pubDate);
  return bDate.getTime() - aDate.getTime();
});

const latestPosts = sortedPosts.slice(0, 3);
---

<Layout title="ホーム・東京大学吃音研究会">
  <div class="margin-contents text-color text-font">
    <!-- 
    <Image src={logo} alt=""/>
  -->
    <span class="midashi mb-4">直近のブログ</span>
    <div style="height: 10px;"></div>
    <p class="italic">直近3つの記事を表示しています。</p>
    <div style="height: 30px;"></div>
    <ul>
      {
        latestPosts.map((post) => (
          <li>
            <a class="text-lg font-medium hover-color" href={post.url}>
              {post.frontmatter.title}
            </a>
            <br />
            {post.frontmatter.update ? (
              <div class="update-content">
                <i class="ri-calendar-2-line" />
                <a class="text-sm italic">{post.frontmatter.date}</a>
                &nbsp;
                <i class="ri-loop-left-line" />
                <a class="text-sm italic">{post.frontmatter.update}</a>
              </div>
            ) : (
              <div class="no-update-content">
                <i class="ri-calendar-2-line" />
                <a class="text-sm italic">{post.frontmatter.date}</a>
              </div>
            )}
            <a class="text-base">{post.frontmatter.description}</a>
            <div style="height: 24px;" />
          </li>
        ))
      }
    </ul>
    <br />
    <div class="flex items-center justify-center" style="margin-bottom: 80px;">
      <a href="/posts/1" class="flex items-center justify-center hover-color"
        >All posts&nbsp;<i class="ri-arrow-right-line" style="font-size: 24px;"
        ></i></a
      >
    </div>
  </div>
</Layout>
