---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import logo from "../assets/images/logo.png";

const allPosts = await Astro.glob("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);

const sortedPosts = nonDraftPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate);
  const bDate = new Date(b.frontmatter.pubDate);
  return bDate.getTime() - aDate.getTime();
});

const latestPosts = sortedPosts.slice(0, 3);
---

<Layout title="ホーム・東京大学スタタリング">
  <div class="margin-contents text-color text-font">
    <Image src={logo} alt=""/>
    <div style="height: 35px;"></div>
    <p class="link">旧ホームページは<a href="https://ut-stuttering.wixsite.com/start">こちら</a></p>
    <div style="height: 35px;"></div>
    <span class="midashi mb-4">次回の活動</span>
    
    <div style="height: 20px;"></div>
    <p class="midashi2">●10月6日(日) 18時～21時</p><br>
    <p class="midashi2">吃音当事者研究会</p><br>
    <p class="midashi2">用意しているテーマ：吃音有名人たちのエピソードを読む</p>
    <p>
      <br>
      &emsp;自分自身の経験や困りごとについて、似た経験を持つ他の当事者（参加者）たちと一緒に、その意味や対処法について「研究」をする「当事者研究会」を開催します。
      <br>
      <br>
    &emsp;今回の当事者研究会にあたって用意をしているのは、「吃音有名人たちのエピソードを読む」です。国内外に吃音を持つ有名人たちはたくさんいます。自伝や他伝などの記録や文献に基づいて「古今東西のどもる人たちのエピソード」を読み、自分自身の経験と照らし合わせて語り合う当事者研究会を開催します。
    <br>
    <br>
    （用意をしている吃音を持つ有名人たちのエピソード）
    <br>
    大町桂月、石井獏、大杉栄、白洲次郎、田中角栄、井上ひさし、羽仁進、小島信夫、大江健三郎、田辺一鶴、三遊亭円歌、桂文福、木の実ナナ、小倉智昭、重松清など
    <br>
    <br>
    &emsp;参加方法：参加を希望される方は、こちらの問い合わせフォームにご連絡ください。今回は、本郷キャンパスの周辺の施設にて開催をします。場所代として、参加費一人300円を徴収します。開催場所等の詳細はメールにてご連絡いたします。</p>

    <div style="height: 50px;"></div>
    <span class="midashi mb-4">直近のブログ</span>
    <div style="height: 10px;"></div>
    <p class="italic">直近3つの記事を表示しています。</p>
    <div style="height: 30px;"></div>
    <ul>
      {
        latestPosts.map((post) => (
          <li>
            <a class="text-lg font-medium hover-color" href={post.url}>
              {post.frontmatter.title}
            </a>
            <br />
            {post.frontmatter.update ? (
              <div class="update-content">
                <i class="ri-calendar-2-line" />
                <a class="text-sm italic">{post.frontmatter.date}</a>
                &nbsp;
                <i class="ri-loop-left-line" />
                <a class="text-sm italic">{post.frontmatter.update}</a>
              </div>
            ) : (
              <div class="no-update-content">
                <i class="ri-calendar-2-line" />
                <a class="text-sm italic">{post.frontmatter.date}</a>
              </div>
            )}
            <a class="text-base">{post.frontmatter.description}</a>
            <div style="height: 24px;" />
          </li>
        ))
      }
    </ul>
    <br />
    <div class="flex items-center justify-center" style="margin-bottom: 80px;">
      <a href="/posts/1" class="flex items-center justify-center hover-color"
        >All posts&nbsp;<i class="ri-arrow-right-line" style="font-size: 24px;"
        ></i></a
      >
    </div>
  </div>
</Layout>
